extends ../layout.pug

block content
	div.container.theme-shwcase(role="main")
		div.jumbotron.row
			h1=title
			h2 Store all your medical records in a safe way
		div.row
			h2 Please choose your role
		div.row
			a(href="/signIn") Doctor