extends ../layout.pug

block content
	div.container
		.row
			.col-md-6
				.jumbotron
					h1 First Come In?
					p.lead sign up your account!
					a.btn.btn-primary.btn-lg(href="/signUpInputId") sign up
			.col-md-6
				form.form-signin.form-orizontal(method="POST" action="/patient/signInPatientHandler")
					h2.form-signin-heading Sign in
					.row
						.form-group
							label(for="inputId").col-sm-2.control-label ID card
							.col-sm-10
								input(type="text" placeholder="input your Id card number" name="IdCardNo" required autofocus)#inputId.form-control
					.row
						br
						br
					.row
						.form-group
							label(for="password").col-sm-2.control-label Password
							.col-sm-10
								input(type="password" placeholder="input your password" required autofocus name="password")#password.form-control
					.row
						br
						br
					.row
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in